 

  <div class="profile-card-container">
    <mat-card class="profile-card">
      <!-- Profile Image -->
      <img mat-card-image [src]="profile.profilePicture" alt="Profile Picture" />
  
      <!-- Card Content -->
      <mat-card-content>
        <!-- Verified and Premium Badges -->
        <div class="badges">
          <mat-icon class="verified-icon">verified</mat-icon>
          <span class="premium-badge">Premium NRI</span>
        </div>
  
        <!-- Profile Name and Details -->
        <h2 class="profile-name">{{profile.name}}</h2>
        <p class="profile-details">
          {{profile.bio}}
        </p>
        <p></p>
      </mat-card-content>
  
      <!-- Card Actions (Shortlist and Like) -->
      <mat-card-actions align="start" class="actions">
        <button mat-button class="shortlist-button" (click)="shortlist()">
          <mat-icon>star</mat-icon> Shortlist
        </button>
        <button mat-icon-button color="primary" class="like-button" (click)="swipeLeft()" >
          <mat-icon>X</mat-icon>
        </button>
        <button mat-icon-button color="primary" class="like-button" (click)="swipeRight()" >
          <mat-icon>check_circle</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  
  


 
  