<ng-container *ngIf="!isDetailsPage">

<div class="profile-swiper-container">
    <h3>{{profiles.length - currentIndex}} Profiles pending with me <span class="new-label">5 NEW</span></h3>
    
    <div class="profile-card" *ngFor="let profile of profiles; let i = index"  [@swipe]="currentIndex" (swipeleft)="swipeLeft()" 
    (swiperight)="swipeRight()" >
        <ng-container *ngIf="i == currentIndex">
            <div class="profile-image">
                <img [src]="profile.profilePicture" alt="{{ profile.name }}">
              </div>
              <div class="profile-details">
                <h2>{{ profile.name }}</h2>
                <p>{{profile.age}} Yers. {{profile.height}} in, {{profile?.profession?.jobTitle}}, {{profile.religion}}, {{profile.caste}}, {{profile.profession.location}} </p>
                <p>{{ profile.details }}</p>
              </div>
              <div class="profile-buttons">
                <button (click)="prev(profile)" class="btn-yes">Yes</button>
                <button  (click)="next()" class="btn-no">No</button>
              </div>
        </ng-container>
    </div>
   
  </div>
</ng-container>

  

  <ng-container *ngIf="isDetailsPage">
    <app-profile-details [currentIndex]="selectedUser.userId" (backClickEvent)="childEmit($event)"></app-profile-details>
  </ng-container>