
 

  <ng-container *ngIf="!isViewPage">
 
    <div class="profile-list-container">
        <h2>{{profiles.length - currentIndex}} Profiles pending with me</h2>
        <!-- <mat-divider></mat-divider> -->
      
        <div class="profile-list" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
          <mat-card class="profile-card" *ngFor="let profile of profiles; let i = index">
            <!-- Profile Image -->
            <img mat-card-image [src]="profile.profilePicture" alt="Profile Picture" />
      
            <!-- Profile Info -->
            <mat-card-content>
              <h3>{{ profile.name }}</h3>
              <p>{{ profile.age }}, {{ profile.height }}, {{ profile.religion }}, {{ profile.bio }}</p>
            </mat-card-content>
      
            <!-- Card Actions -->
            <mat-card-actions>
              <button mat-button color="primary" (click)="yesClick(i)">Yes</button>
              <button mat-button color="warn" (click)="noClick(i)">No</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
  </ng-container>
  <ng-container *ngIf="isViewPage">
    <app-profile-view [profile]="viewData">
    </app-profile-view>
  </ng-container>

 
  
 