

.profile-list-container {
    padding: 20px;
  }
  
  .profile-list {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .profile-card {
    min-width: 250px;
    max-width: 300px;
    scroll-snap-align: start;
    margin-right: 10px;
  }
  
  mat-card-actions {
    justify-content: space-between;
  }
  
  img {
    height: 200px;
    object-fit: cover;
  }
  